@import 'flat-ui-colors';
$max-width: 1200px;
$padding: 20px;

$white: #fff;
$gray-1: $flat-gray-1;
$gray-2: #dde4e6;
$gray-3: $flat-gray-2;
$gray-4: #869198;

$month-bg: $gray-1;
$month-fg: $gray-4;
$month-header-bg: $flat-blue-1;
$month-header-fg: $white;
$month-week-header-bg: $gray-2;
$month-week-header-fg: $gray-4;
