@import 'vars';

.Day {

    box-sizing: border-box;
    display: inline-block;
    font-size: 1.6rem;
    vertical-align: top;
    width: calc(100%/7);
    padding: 1rem 0.4rem 2.5rem;

    &--header {
        padding: 1rem 0.4rem;
    }
}
