@import 'vars';

.Month {

    background-color: $month-bg;
    color: $month-fg;
    margin: 2rem auto;
    width: 100%;

    &__header {
        background-color: $month-header-bg;
        color: $month-header-fg;
        font-size: 4.2rem;
        line-height: 4.5rem;
        padding: $padding;
        text-align: center;

        &__btn,
        &__name {

            display: inline-block;
            vertical-align: middle;
            margin: 0 2rem;

        }

        &__name {

            width: 20rem;

            &__month,
            &__year {
                display: block;
            }

            &__year {
                font-size: 2.4rem;
            }

        }
    }

    &__week {
        font-size: 0;
        padding: 0 $padding;
        text-align: left;
        min-height: 10rem;

        &--header {
            background-color: $month-week-header-bg;
            color: $month-week-header-fg;
            padding: $padding;
            min-height: 0;
        }
    }

}
